/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[叠uild/
/[叠uilds/
/[尝ogs/
/[𠎧erSettings/

# Memory dumps
*.kdmp
*.pmp
*.vmp
*.dmpr

# Crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
*.app

# OS files
.DS_Store
Thumbs.db
